<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
		<add key="Nexus" value="https://nexus.utg.group/repository/nuget-group/index.json"
				 protocolVersion="3" />
	</packageSources>
	<!--disabledPackageSources>
		<add key="nuget.org" value="true" />
	</disabledPackageSources-->
	<packageSourceCredentials >
		<Nexus>
			<add key="Username" value="nuget-user" />
			<add key="ClearTextPassword" value="8fJZH44MhMFxpkTx" />
			<add key="ValidAuthenticationTypes" value="basic" />
		</Nexus>
	</packageSourceCredentials>
 
</configuration>
